header {
  padding: 30px;
  text-align: center;
}

body {
  background: #333940;
}

#headerSize {
  font-size: 25px;
  color: #e867ed;
  line-height: 2;
}

#headerText {
  color: white;
  /* border: 1px dashed;
  word-break: break-all;
  white-space: pre-wrap; */
  line-height: 1.5;
  text-indent: 50px;
}

.textColor {
  color: #e867ed;
  border: 1px dashed;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #e867ed;
  font-weight: bold;
}

.margin-box {
  margin: 20px;
  padding: 10px;
  background-color: yellow;
}